body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('img/pics/desert-g5f1afeaee_1920.png');
    font-family: Rye, sans-serif;
}

.d-none {
    display: none !important;
}

.opacity-zero {
    opacity: 0 !important;
    transition: opacity ease-in-out 0.5s;
}

h1 {
    font-size: 48px;
}

.container {
    height: 480px;
    width: 720px;
    position: relative;
}

canvas {
    background-color: black;
    background-size: cover;
    background-position: 55%;
    border-radius: 10px 10px 10px 10px;
    display: block;
    pointer-events: none;
    z-index: 1;

}

.canvas-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#intro-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 480px;
    cursor: pointer;
    z-index: 15;
}

#intro-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    z-index: 16;
}

#outro-screen-game-over, #outro-screen-you-lost {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    z-index: 16;
}

#help-section-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 10px 10px 10px 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity ease-in-out 0.5s;
}

#help-section-container h2 {
    font-size: 30px;
}

.help-section-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-section-content-top {
    margin-bottom: 5px;
}

.gamepad-help-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gamepad-help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.gamepad-help-content img {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 5px;
}

.help-btn-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000060;
    border-radius: 0 10px 0 40px;
    padding: 5px;
    z-index: 11;
}

.help-btn-container img {
    background-color: #BB4600;
    border-radius: 50%;
    padding: 7px;
    margin: 5px;
    cursor: pointer;

}

#mobile-gamepad {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: opacity ease-in-out 0.5s;
}

.mobile-container-left, .mobile-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000060;
    height: 100%;
    padding: 10px;
}

.mobile-container-left {
    border-radius: 0 40px 40px 0;
}

.mobile-container-right {
    border-radius: 40px 0 0 40px;
}

.mobile-container-left img, .mobile-container-right img {
    background-color: #BB4600;
    border-radius: 50%;
    padding: 7px;
    margin: 5px;
}


@media (max-width: 720px) {
    canvas {
        width: 100vw;
    }

    .canvas-overlay {
        width: 100vw;
    }

    #intro-screen, #help-section-container {
        width: 100vw;
    }

    .container {
        /* width: unset !important; */
        width: 100vw;
        height: auto;
    }

    .help-container img {
        margin: 4;
        padding: 5;
        width: 24px;
        height: 24px;
    }

    .help-container {
        padding: 0 0 0 5px;
    }

    #mobile-gamepad {
        margin-bottom: 10px;
    }

    .mobile-container-left {
        padding: 5px 5px 5px 0;
    }

    .mobile-container-right {
        padding: 5px 0 5px 5px;
    }

    .mobile-container-left img, .mobile-container-right img {
        margin: 4;
        padding: 5;
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 520px) {
    #help-section-container h2 {
        font-size: 25px;
    }

    .help-section-content-container {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .help-container img {
        margin: 2 !important;
        width: 18px !important;
        height: 18px !important;
    }

    .mobile-container-left img, .mobile-container-right img {
        width: 18px !important;
        height: 18px !important;
    }
}

@media (max-height: 620px) {
    h1 {
        display: none;
    }

    body {
        justify-content: center;
        height: 100vh;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .canvas-overlay {
        height: 100vh;
    }

    #intro-screen {
        height: 100vh;
    }

    body {
        justify-content: unset;
    }

    .container {
        height: 100vh;
        width: auto;
    }

    .help-container img {
        margin: 4;
        padding: 5;
        width: 24px;
        height: 24px;
    }

    .help-container {
        padding: 0 0 0 5px;
    }

    #mobile-gamepad {
        margin-bottom: 10px;
    }

    .mobile-container-left {
        padding: 5px 5px 5px 0;
    }

    .mobile-container-right {
        padding: 5px 0 5px 5px;
    }

    .mobile-container-left img, .mobile-container-right img {
        margin: 4;
        padding: 5;
        width: 24px;
        height: 24px;
    }
}

@media (max-height: 400px) {
    #help-section-container h2 {
        font-size: 25px;
    }

    .help-section-content-container {
        font-size: 12px;
    }
}

@media (max-height: 300px) {
    .help-container img {
        margin: 2 !important;
        width: 18px !important;
        height: 18px !important;
    }

    .mobile-container-left img, .mobile-container-right img {
        width: 18px !important;
        height: 18px !important;
    }
}

/* rye-regular - latin */
@font-face {
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rye-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/rye-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/rye-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/rye-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/rye-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/rye-v13-latin-regular.svg#Rye') format('svg');
    /* Legacy iOS */
}