body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('img/pics/desert-g5f1afeaee_1920.png');
    font-family: Rye, sans-serif;
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 48px;
}

.container {
    height: 480px;
    /* width: 720px; */
    position: relative;
}

canvas {
    background-color: black;
    /* width: 100vw;
    height: 100vh; */

    background-color: black;
    background-size: cover;
    background-position: 55%;
    border-radius: 10px 10px 10px 10px;
    display: block;
    pointer-events: none;
    z-index: 1;
    
}

#intro-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 720px;
    height: 480px;
    cursor: pointer;
}  

#outro-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    z-index: 2;
}

#mobile-gamepad {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mobile-container-left, .mobile-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000060;
    height: 100%;
    padding: 10px;
}

.mobile-container-left {
    border-radius: 0 40px 40px 0;
}

.mobile-container-right {
    border-radius: 40px 0 0 40px;
}

.mobile-container-left img, .mobile-container-right img {
background-color: #BB4600;
border-radius: 50%;
padding: 10px;
margin: 10px;
}


@media (max-width: 720px) {
    canvas {
        width: 100vw;
    }

    #intro-screen {
        width: 100vw;
    }

    .container {
        width: unset !important;
    }

}

@media (max-height: 620px) {
    h1 {
        display: none;
    }

    body {
        justify-content: center;
        height: 100vh;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    #intro-screen {
        height: 100vh;
    }    

    body {
        justify-content: unset;
    }

    .container {
        width: 720px;
    }
}

/* rye-regular - latin */
@font-face {
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rye-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rye-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rye-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rye-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rye-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rye-v13-latin-regular.svg#Rye') format('svg'); /* Legacy iOS */
  }


 